<div>
  <div>
    <div *ngIf="num1">{{operasi}}</div>
  </div>
  <div>
    <button (click)="get7()">7</button>
    <button (click)="get8()">8</button>
    <button (click)="get9()">9</button>
  </div>
   <div>
    <button (click)="get4()">4</button>
    <button (click)="get5()">5</button>
    <button (click)="get6()">6</button>
  </div>
   <div>
    <button (click)="get1()">1</button>
    <button (click)="get2()">2</button>
    <button (click)="get3()">3</button>
  </div>
  <div>
    <button (click)="plus()">+</button>
    <button (click)="minus()">-</button>
    <button (click)="div()">/</button>
    <button (click)="mul()">*</button>
    <button (click) = "hitung()">=</button>
  </div>
  <button (click)="reset()">Reset</button>
</div>

<div *ngIf="hasilDone">
  <h2>Hasil = {{hasil}}</h2>
</div>