<div>
  <div>
    <div *ngIf="num1">{{operasi}}</div>
  </div>
  <div>
    <button (click)="get7()" class="angka">7</button>
    <button (click)="get8()" class="angka">8</button>
    <button (click)="get9()" class="angka">9</button>
  </div>
   <div>
    <button (click)="get4()" class="angka">4</button>
    <button (click)="get5()" class="angka">5</button>
    <button (click)="get6()" class="angka">6</button>
  </div>
   <div>
    <button (click)="get1()" class="angka" >1</button>
    <button (click)="get2()" class="angka">2</button>
    <button (click)="get3()" class="angka">3</button>
  </div>
  <div>
    <button (click)="plus()" class="ope">+</button>
    <button (click)="minus()" class="ope">-</button>
    <button (click)="div()"  class="ope">/</button>
    <button (click)="mul()"  class="ope">*</button>
    <button (click) = "hitung()"  class="ope">=</button>
  </div>
  <button (click)="reset()" style="margin-left:95px">Reset</button>
</div>

<div *ngIf="hasilDone">
  <h2>Hasil = {{hasil}}</h2>
</div>